OPENCLAW_USER=bonette
OPENCLAW_SERVER=bonette-server
OPENCLAW_SERVER_DIR=/home/bonette/Documentos/apps/familymoney
SSH_KEY_PATH=$HOME/.ssh/id_ed25519
OPENCLAW_FRONTEND_PORT=8091
OPENCLAW_BACKEND_PORT=19082
LOCAL_FRONTEND_PORT=28091
LOCAL_BACKEND_PORT=28092
